asgiref==3.5.2
dj-database-url==2.1.0
Django==4.1.2
django-database-url==1.0.3
django-extensions==3.2.3
gunicorn==21.2.0
packaging==23.2
Pillow==10.1.0
psycopg2-binary==2.9.9
pyscopg2==66.0.2
sqlparse==0.4.3
typing_extensions==4.8.0
whitenoise==6.6.0
