/*#gridholder {
    display: grid;
    grid-template-columns: 2fr;
}
.column-1 {
}
.column-2 {
    
}*/
.foo {
    width: 10%;
}

.title {
    color: whitesmoke;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 200px}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
.footer {
  background-color: #555;
  color: white;
  padding: 0px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
        padding: 15px;
    }
    .row.content {height: auto;} 
    }

/* change the text color */
.search-form input[type="text"] {
  color: #000; 
}

/* change the background color */
.search-form {
  background-color: #fff;
  padding: 10px; 
}
