{% extends "layout.html" %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block header %}
    <h1 class="title">About Us</h1>
{% endblock %}

{% block content %}
    
            
                
                    <article>
                        <div class="container-fluid">
                            <div class="row content">
                                <div class="col-sm-3 sidenav">
                                    <span><img src="{% static 'verna.png' %}"></span>
                                </div>
                                <div class="col-sm-9">
                                    <div>
                                        Much of
                                        <strong>Verna's</strong>
                                        experience has been in the field leading botanical field trips to various parts of Alaska.

                    Her knowledge of plant ecosystems qualifies her as a superior field botanist and one of the most highly respected authorities on Alaskan wildflowers.

                    She is widely known for her pressed Alaskan Wildflower craft items and her classes presented through the Anchorage Community Schools Program. She has also lectured at various locations within the State of Alaska and; more recently, taught classes as an adjunct lecturer at the University of Alaska, Anchorage and through the Alaska Wilderness Studies program.

                    In 1982, she founded the Alaska Native Plant Society, and served as its President through 1988.

                    She is a member of the Alaska Orchid Society, New England Wildflower Society, United Alaskan Artists, and the Wildflower Garden Club.

                    On May 9th, 1999, at the spring commencement of the University of Alaska, Anchorage, Verna was presented a Meritorious Service Award .

                    In the Fall of 1999, she lectured on Alaska Wildflowers at six North American Rock Garden Society (NARGS) Chapters from the Philadelphia area to St. John's, Newfoundland and Ottawa, Ontario.

                    She presented a program on Alaska's flora at "Alpines 2001" in June 2001 at Edinburgh, Scotland. Her presentation was sponsored by the Royal Horticultural Society.

                    In 2002, Verna was elected to the Board of Directors of the North American Rock Garden Society (NARGS)..
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                

                
                    <article>
                        <div class="container-fluid">
                            <div class="row content">
                                <div class="col-sm-3 sidenav">
                                    <span><img src="{% static 'frank.png' %}"></span>
                                </div>
                                <div class="col-sm-9">
                                    <div>
                                        <strong>Frank's</strong>
                                        interest in photography began at an early age. It was not difficult to involve Verna in his hobby where beautiful scenery and flowers were involved.

                    Being a pharmacist by profession, he had a natural interest in plants. His real interest in wildflower photography developed, however, when it became clear that this was one way for he and Verna to spend time together with common interests. It was the old adage of, "If you can't beat 'em, join 'em".

                    When asked about his interest he often replies that Verna has made a poor hunter out of him, as he now spends much of his time looking at the ground rather than at the horizon.

                    He holds an FCC Extra Class Amateur Radio License --- KL7RX.

                    Another of his hobbies is making Diamond Willow canes and walking staffs.

                    He is a member of the American Radio Relay League, Anchorage Amateur Radio Club, National Rifle Association, Quarter Century Wireless Association, Radio Amateur Satellite Corporation, Southcentral Radio Club, International Pharmacists Ham Group (IPHG), and the National Press Photographer's Association.

                    Since his retirement from Pharmacy in May 1998, he has devoted time to pursuing his photography more actively, doing volunteer work with various gardening groups in the Anchorage area, as well as participation in Amateur Radio Emergency Services. He also attempts to play some guitar now and then.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                

            
        
{% endblock %}