{% extends "layout.html" %}

{% block title %}Shopping Cart{% endblock %}

{% block header %}
    <h1 class="title">Shopping Cart</h1>
{% endblock %}

{% block content %}
    <div>
        <center>At this time there is no online ordering, feel free to try any of these other options.</center>
        <br>
        <strong><center>Total Price: {{price}}$</center></strong>
        <a class="btn" href="mailto:alaskakrafts907@gmail.com">Email Us</a>
        <p><strong>Call us:</strong> 907-696-1485</p>
        <p><strong>Or</strong></p>
        <p><strong>Head to one of these stores/websites:</strong></p>
        <ul>
            <li>Walmart</li>
            <li>Amazon</li>
            <li>Barnes & Noble</li>
            <li>Greatland Graphics</li>
            <li>Tod Communications</li>
            <li>And More</li>
            <!--add more-->
        </ul>
    </div>
    {% for book in cart %}
        <!--display book in article with all information(add to cart and favorite button)-->
        <article>
            <div class="container-fluid">
                <div class="row content">

                    <div class="col-sm-3 sidenav">
                        <div><img class="full-width-image" src="{{ book.image.url }}" width="100px"></div>
                    </div>
                    
                    <div class="col-sm-9">
                        <div><strong>{{ book.title }}</strong></div>
                        <hr>
                        <div><strong>Description:</strong> {{ book.description }}</div>
                        <hr>
                        <div><strong>Price:</strong> {{ book.price }}$</div>
                        <br>
                        <!-- Display stores for the book -->
                        <div><strong>Available at:</strong></div>
                        <ul>
                            {% for store in item.stores %}
                                <li>{{ store.name }} - {{ store.address }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            
        </article>
    {% endfor %}
    
{% endblock %}