{% extends "layout.html" %}

{% block content %}
    {% for book in books %}
        <article>
            <div class="container-fluid">
                <div class="row content">

                    <div class="col-sm-3 sidenav">
                        <div><img src="{{ book.image.url }}" width="50px"></div>
                    </div>
                    
                    <div class="col-sm-9">
                        <div><strong>{{ book.title }}</strong></div>
                        <hr>
                        <div><strong>Description:</strong> {{ book.description }}</div>
                        <hr>
                        <div><strong>Price:</strong> {{ book.price }}$</div>
                        <br>
                        {% if book in favorites %}
                            <div>
                                <a href="{% url 'removefavorite-view' book.id %}"><img class="foo" src='https://cdn.icon-icons.com/icons2/1369/PNG/512/-favorite_90527.png'></a>
                            </div>
                        {% else %}
                            <div>
                                <a href="{% url 'favorite-view' book.id %}"><img class="foo" src='https://cdn-icons-png.flaticon.com/512/73/73814.png'></a>
                            </div>
                        {% endif %}
                        <br>
                        {% if book in cart %}
                            <div>
                                <a class="btn" href="{% url 'removecart-view' book.id %}">Remove From Cart</a><!--put this along side heart icon-->
                            </div>
                        {% else %}
                            <div>
                                <a class="btn" href="{% url 'cart-view' book.id %}">Add To Cart</a><!--put this along side heart icon-->
                            </div>
                        {% endif %}
                    </div>
                    <!-- if comments, they could go here-->
                </div>
            </div>
            
        </article>
    {% endfor %}
{% endblock %}