{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Alaska Krafts{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css"><!--temp, need to bootstrap-->
        <link rel="stylesheet" href="{% static 'styles.css' %}" >
    </head>
    <body>
        <header>
        {% block header %}
            <h1>Alaska Krafts</h1>
        {% endblock %}
            <nav>
                <span>
                    <a href="{% url 'home-page' %}">Home</a>
                    <a href="{% url 'about-page' %}">About</a>
                </span>
                <span class="welcome">
                    {% if user.is_authenticated %}
                        Welcome <strong>{{ user.username }}!</strong>
                        <a href="{% url 'logout-view' %}">Log Out</a>
                    {% else %}
                        <a href="{% url 'login-page' %}">Log In</a>
                        <a href="{% url 'register-page' %}">Register</a>
                    {% endif %}
                </span>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>