{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Alaska Krafts{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css"><!--temp, need to bootstrap-->
        <link rel="stylesheet" href="{% static 'styles.css' %}" >
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="{% static 'akk.js'%}"></script>

    </head>
    <body>
        <header>
        {% block header %}
            <h1 class="title">Alaska Krafts</h1>
        {% endblock %}
            <span class="start">
                <img class="emblem" src="{% static 'emblem.png' %}">
            </span>
            <nav>
                <span>
                    <a class="btn" href="{% url 'home-page' %}">Home</a>
                    <a class="btn" href="{% url 'about-page' %}">About</a>
                    <a class="btn" href="{% url 'contact-page' %}">Contact Us</a>
                </span>
                <span>
                    {% if user.is_authenticated %}
                        <a class="btn" href="{% url 'favorites-page' %}">Favorites</a>
                        <a class="btn" href="{% url 'cart-page' %}">Cart</a>
                        <a class="btn" href="{% url 'profile-page' %}">Profile</a>
                <span class="welcome">
                        <strong class="title"> Welcome {{ user.username }}!</strong>
                        <a class="btn" href="{% url 'logout-view' %}">Log Out</a>
                    {% else %}
                        <a class="btn" href="{% url 'login-page' %}">Log In</a>
                        <a class="btn" href="{% url 'register-page' %}">Register</a>
                    {% endif %}
                </span>
                </span>
            </nav>
            <br>
            <br>
            <form action="{% url 'search-books' %}" method="GET" class="search-form">
                <input type="text" name="q" placeholder="Search for books">
                <button type="submit" class="btn">Search</button>
            </form>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer class="footer">
            <p>Copyright &copy; {% now "Y" %} <strong>Alaska Krafts</strong>. All Rights Reserved. Wiki <a href="https://en.wikipedia.org/wiki/Alaska_Native_Plant_Society">page.</a> Github <a href="https://github.com/lukepratt907/AlaskaKrafts">repository.</a></p>
        </footer>

    </body>
</html>