{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Alaska Krafts{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css"><!--temp, need to bootstrap-->
        <link rel="stylesheet" href="{% static 'styles.css' %}" >
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="{% static 'akk.js'%}"></script>

    </head>
    <body>
        <header>
        {% block header %}
            <h1 class="title">Alaska Krafts</h1>
        {% endblock %}
            <nav>
                <span>
                    <a href="{% url 'home-page' %}">Home</a>
                    <a href="{% url 'about-page' %}">About</a>
                    <a href="{% url 'contact-page' %}">Contact Us</a>
                </span>
                <span class="welcome">
                    {% if user.is_authenticated %}
                        <a href="{% url 'favorites-page' %}">Favorites</a>
                        <a href="{% url 'cart-page' %}">Cart</a>
                        <a href="{% url 'profile-page' %}">Profile</a>
                        <strong class="title"> Welcome {{ user.username }}!</strong>
                        <a href="{% url 'logout-view' %}">Log Out</a>
                    {% else %}
                        <a href="{% url 'login-page' %}">Log In</a>
                        <a href="{% url 'register-page' %}">Register</a>
                    {% endif %}
                </span>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer class="container-fluid footer">
            <p>Footer Text nkjhoipoj</p>
        </footer>

    </body>
</html>