{% extends "layout.html" %}
{% load static %}
{% block title %}Profile{% endblock %}

{% block header %}
    <h1 class="title">Profile</h1>
{% endblock %}

{% block content %}
    <article>
        {% if user.image %}
        <div>
            <img src="{{ user.image.url }}">
        </div>
        {% else %}
        <div>
            <img src="{% static 'profile.png' %}">
        </div>
        {% endif %}
        <div>
            {{ user.description }}
        </div>
        <a class="btn" href="{% url 'editpic' %}">Edit Profile</a>
    </article>
{% endblock %}