{% extends "layout.html" %}
{% load static %}
{% block title %}Profile{% endblock %}

{% block header %}
    <h1 class="title">Profile</h1>
{% endblock %}

{% block content %}
    <article class="profile">
        {% if user.image %}
            <div>
                <img src="{{ user.image.url }}">
            </div>
        {% else %}
            <div>
                <img src="{% static 'profile.png' %}">
            </div>
        {% endif %}
    </article>
    <article>
        <div>
            <strong>About:</strong> {{ user.description }}
        </div>
    </article>
    <a class="btn" href="{% url 'editpic' %}">Edit Profile</a>
    <a class="btn" href="{% url 'password_reset' %}">Change Password</a>

{% endblock %}